*{
    padding: 0;
    margin: 0;
}

nav{
    margin: 0 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;

}


.search{
    border: 1px solid black;
    height: 30px;
    border-radius: 2px;
    align-items: center;
    margin: auto;
}
.container input{
    width: 300px;
    outline: none;
    margin-top: 0;
    /* border: none; */
    margin-left: 9px;
}

.profile-pic{
    height: 40px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.search-image{
    height: 15px;
    padding:3px 2px;
    cursor: pointer;
}